htm, body {
    font-family: 'Poppins', sans-serif;
    line-height: 100%;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    background: rgb(19, 33, 48);
    background: linear-gradient(99deg, rgba(19, 33, 48, 1) 0%, rgba(31, 47, 60, 1) 90%);
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ------------------------------------- MAIN ------------------------------------------- */
.header {
    width: 100%;
    overflow-block: hidden;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0 40px;
}

.header__top-logo {}

.header__logo {
    font-size: 2em;
    user-select: none;
    margin-left: 2em;
    cursor: pointer;
    color: #00E92C;
    text-shadow: 0 0 2px #00e92c, 0 0 30px #00e92c, 0px 0px 5px #00e92c, 0 0 150px #00e92c;
}

.header__top-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 14em;
}

.header__top-item {
    margin-left: 50px;
}

.header__top-point {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.2em;
    font-style: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    color: #fff;
}

.header__top-point span {
    margin-left: 10px;
}

.header__top-point::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #fefefe 0%, #ffffff 100%);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.header__top-point:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background: linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%);
}

.header__top-point:nth-child(2) {
    content: none;
}

/* --------------------------------- header__top --------------------------------------- */

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header__bottom-left {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 90px 0;
}

.header__bottom-video iframe {
    width: 620px;
    height: 400px;
    border-radius: 10px;
    border: 2px white solid;
    margin-left: 50px;
}


.header__bottom-text {
    max-width: 20em;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9em;
    line-height: 1.9em;
    text-align: justify;
    color: #f9f9f9f9;
    text-shadow: 1px 2px 3px #100f0ff9;
    margin-bottom: 15px;
}

.header__bottom-text span {
    color: #00E92C;
    text-shadow: 0 0 2px #00e92c, 0 0 30px #00e92c, 0px 0px 5px #00e92c, 0 0 150px #00e92c;
}

.header__bottom-text:hover {
    animation: rainbow-text-animation 3s ease forwards;
}

/* .header__bottom-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__bottom-logo {
    text-align: center;
    font-size: 2em;
    user-select: none;
    margin-bottom: 15px;
    color: #00E92C;
    text-shadow: 0 0 2px #00e92c, 0 0 30px #00e92c, 0px 0px 5px #00e92c, 0 0 150px #00e92c;
}

.header__right-chat iframe {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    border: 2px black solid;
} */

/* ------------------------------------- Game -------------------------------- */
.form__box-game {
    position: relative;
    width: 500px;
    height: 250px;
    background: #fff;
    border: 2px solid rgb(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0 .5);
    align-items: center;
    overflow: hidden;
    /* display: none; */
}

/* .form__icon-close svg{
    width: 50px;
    height: 50px;
} */
.active__play {
    /* display: flex; */
    transform: scale(1);
}

.game {
    width: 500px;
    height: 150px;
    border-bottom: 1px solid #000;
    margin: auto;
    /* cursor: pointer; */
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(./Images/game/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 99px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(./Images/game/cactus.jpeg);
    background-size: 20px 40px;
    position: relative;
    top: 60px;
    left: 580px;
    animation: cactusMov 3s infinite linear;
}

@keyframes cactusMov {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 50px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

/* --------------------------------- about --------------------------------------- */


.about {}

.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}


.about__left {
    color: #fff;
    margin-right: 50px;
}

.about__inner {
    text-align: center;
    font-size: 2em;
    user-select: none;
    margin-bottom: 15px;
}

.about__text-texts {
    text-align: right;
    font-weight: 200;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.about__left-text {
    font-weight: 200;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.6);
}

.about__left-text span {
    color: #00E92C;
    text-shadow: 0 0 2px #00e92c, 0 0 30px #00e92c, 0px 0px 5px #00e92c, 0 0 150px #00e92c;
}

.about__right img {
    width: 700px;
    height: 500px;
    border-radius: 2em;
}

/* ------------------------------------- Games -------------------------------- */

.games {}

.games__inner {
    display: flex;
    flex-direction: column;
}

.games__inner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 2em;
    user-select: none;
    color: #00FFFC;
    text-shadow: 0 0 2px #00FFFC, 0 0 30px #00FFFC, 0px 0px 5px #00FFFC, 0 0 150px #00FFFC;
}

.games__slider-wrapper {
    position: relative;
}

.games__slider .slick-list {
    position: relative;
    top: 0;
    left: 65px;
}

.games__slider-content {
    margin-right: 50px;
    margin-bottom: 100px;

}

.games__slider-content img {
    border-radius: 10px;
    border: 1px white solid;
}

.games__slider-content:last-child {
    margin-right: 0;
}

.games__slider-content img {
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}

.games__content-name {
    text-align: center;
    position: relative;
    top: 0;
    right: 50px;
    font-family: 500;
    box-shadow: 1px 2px 1px rgb(255, 255, 255 0.5);
}

.games__slider-arrows {
    display: flex;
    position: absolute;
    top: -42px;
    left: 70px;
}

.games__slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b4b4b4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.games__slider-arrow path {
    background: #CA4246;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .3s;
}

.games__slider-arrow:hover path {
    fill: #fff;
}

.games__slider-prev {
    margin-right: 15px;
}

/* ------------------------------------- Games of game -------------------------------- */

.cooperation__row {
    display: flex;
    margin: 100px 0 100px 0;
}

.cooperation__left img {
    width: 700px;
    height: 500px;
    border-radius: 30px;
    margin-right: 50px;
}

.cooperation__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cooperation__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    color: #00FFFC;
    text-shadow: 0 0 2px #00FFFC, 0 0 30px #00FFFC, 0px 0px 5px #00FFFC, 0 0 150px #00FFFC;
}

.cooperation__inner-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-weight: 600;
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 50px;
    transition: all .3s;
}

.cooperation__inner-btn:hover {
    background: #FC466B;
    border: 2px white solid;
    color: white;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

.cooperation__inner-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.6);
}

/* ------------------------------------- footer -------------------------------- */

.footer {
    background: rgba(0, 0, 0, 0.579);
    padding: 50px 0 50px 0;
}

.footer__inner-logo {
    font-size: 2em;
    height: 50px;
    margin-bottom: 20px;
    color: #00E92C;
    text-shadow: 0 0 2px #00e92c, 0 0 30px #00e92c, 0px 0px 5px #00e92c, 0 0 150px #00e92c;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__item-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__item-logo img {
    width: 300px;
    height: 180px;
    border-radius: 30px;
}

.footer__item {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.footer__inner-list {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.footer__item-links {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    border-radius: 30px;
    margin-right: 30px;
    width: 100px;
    height: 50px;
    transition: all .3s;
}

.footer__item-link:hover {
    transform: scale(1.05);
    color: red;
}

.footer__mailto-links {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    border-radius: 30px;
    margin-right: 30px;
    width: 100px;
    height: 50px;
    transition: all .3s;
    width: 250px;
}

.footer__mailto-links:hover {
    transform: scale(1.05);
    color: red;
}

.footer__protected {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footer__protected p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.footer__protected {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.footer__protected-item {
    font-size: 1.5em;
    font-weight: 200;
    color: #00FFFC;
    text-shadow: 0 0 2px #00FFFC, 0 0 30px #00FFFC, 0px 0px 5px #00FFFC, 0 0 150px #00FFFC;
    transition: all .3s;
}

.footer__protected-item:hover {
    color: white;
}

/* ================================== MEDIA =============================== */
/* ================================== MEDIA =============================== */

@media(max-width: 1200px) {
    .about__right img {
        width: 500px;
        height: 300px;
        transition: all .3s;
    }

    .games__inner {
        /* max-width: 500px;
        max-height: 500px; */
    }

    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(18%, 7%);
    }

    .games__content-name {
        display: flex;
        position: inherit;
    }

    .cooperation__inner-btn {
        width: 200px;
        height: 50px;
        font-size: 1em;
        transition: all .3s;
    }

    .cooperation {
        display: flex;
    }

    .cooperation__heading {
        font-size: 2em;
        transition: all .3s;
    }

    .cooperation__inner-text {
        font-weight: 200;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: normal;
        max-width: 300px;
        transition: all .3s;
    }

    .cooperation__left img {
        width: 500px;
        height: 400px;
        transition: all .3s;
    }

    .footer__item {
        margin-right: 30px;
        transition: all .3s;
    }
}

@media(max-width: 1100px) {
    .header__top-item {
        margin-left: 0;
        transition: all .3s;
    }

    #chat_embed {
        width: 240px;
        height: 400px;
        transition: all .3s;
    }

    .header__top-inner {
        justify-content: center;
    }

    .header__top-inner:last-child {
        margin-right: 0;
        transition: all .3s;
    }

    .about__inner {
        font-size: 1em;
        transition: all .3s;
    }

    .about__text-texts {
        font-weight: 200;
        font-size: 13px;
        text-align: left;
        transition: all .3s;
    }

    .about__left-text {
        font-weight: 200;
        font-size: 10px;
        transition: all .3s;
    }

    .footer__item {
        margin-right: 0;

    }

    .footer__inner-list {
        font-size: 15px;
        transition: all .3s;
    }

    .footer__item-links {
        width: 70px;
        height: 30px;
        transition: all .3s;
    }

    .footer__mailto-links {
        display: none;
    }

    .footer__protected {
        font-size: 10px;
        transition: all .3s;
    }

    .header__bottom-left {
        display: flex;
        flex-direction: column;
    }

    .header__bottom-video iframe {
        width: 620px;
        height: 400px;
        border-radius: 10px;
        border: 2px white solid;
        margin-left: 0;
    }
}

@media(max-width: 1000px) {
    .header__top-point {
        font-size: 10px;
        transition: all .3s;
    }

    .header__logo {
        font-size: 20px;
        transition: all .3s;
    }

    .header__top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px 0 40px;
        transition: all .3s;
    }

    .header__bottom-text {
        font-size: 1.5em;
        line-height: 1.2em;
    }

    .about__right img {
        width: 350px;
        height: 250px;
        transition: all .3s;
    }

    .about__text-texts {
        letter-spacing: normal;
        transition: all .3s;
    }

    .about__left-text {
        letter-spacing: normal;
        transition: all .3s;
    }

    .cooperation__row {
        margin: 30px 0 30px 0;
        transition: all .3s;
    }
}

@media (max-width: 960px) {
    .games__slider-content img {
        width: 300px;
        height: 300px;
        transition: all .3s;
    }

    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(15%, 7%);
    }

    .games__inner-logo {
        margin: 50px 65px 50px 0px;
        transition: all .3s;
    }

    .cooperation__heading {
        font-size: 1em;
        transition: all .3s;
    }

    .cooperation__inner-text {
        font-weight: 200;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: normal;
        max-width: 300px;
        transition: all .3s;
    }

    .cooperation__left img {
        width: 400px;
        height: 350px;
        transition: all .3s;
    }
}

@media(max-width: 700px) {
    .header__logo {
        font-size: 15px;
        transition: all .3s;
    }

    .about__content {
        flex-direction: row-reverse;
        transition: all .3s;
    }

    .about__left {
        margin-left: 30px;
        margin-right: 0;
        transition: all .3s;
    }

    .games__inner-logo {
        font-size: 1em;
        transition: all .3s;
    }

    .cooperation__row {
        display: flex;
        flex-direction: column-reverse;
        transition: all .3s;
    }

    .cooperation__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .3s;
    }

    .cooperation__inner-text {
        margin-bottom: 30px;
        transition: all .3s;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .3s;
    }

    .footer__item-logo {
        font-size: 10px;
        margin-bottom: 30px;
        transition: all .3s;
    }

    .footer__item-logo img {
        width: 203px;
        height: 130px;
        transition: all .3s;
    }
}

@media(max-width: 650px) {
    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(10%, 7%);
    }

    .header__bottom-video iframe {
        width: 480px;
        height: 320px;
    }
}

@media(max-width: 550px) {
    .header__top-item:nth-child(2) {
        display: none;
        transition: all .3s;
    }

    .header__bottom-text {
        font-size: 20px;
    }

    .about__content {
        flex-direction: column;
        transition: all .3s;
    }

    .about__left {
        margin-bottom: 30px;
        transition: all .3s;
    }

    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(0%, 7%);
        transition: all .3s;
    }
}

@media(max-width: 450px) {
    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(-5%, 7%);
        transition: all .3s;
    }

    .header__bottom-text {
        font-size: 15px;
    }

    .header__bottom-video iframe {
        width: 360px;
        height: 320px;
    }

    .cooperation {
        display: flex;

    }

    .cooperation__heading {
        font-size: 12px;
        transition: all .3s;
    }

    .cooperation__left img {
        width: 350px;
        height: 250px;
        transition: all .3s;
    }

    .cooperation__heading {
        margin-bottom: 10px;
        transition: all .3s;
    }
}

@media(max-width: 375px) {

    .header__bottom {
        margin-bottom: 30px;
    }

    .header__bottom-left {
        padding: 0;
    }

    .header__bottom-text {
        font-size: 15px;
    }

    .header__bottom-video iframe {
        width: 300px;
        height: 216px;
    }

    .about__left {
        margin-left: 0;
    }

    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(-6%, 7%);
        transition: all .3s;
    }
    .cooperation__right {
        display: flex;
        align-items: flex-start;
        margin-left: 30px;
        transition: all .3s;
    }

    .about__right img {
        width: 300px;
        height: 200px;
        transition: all .3s;
    }

    .cooperation__inner-text {
        padding: 0 5px;
        width: 250px;
        line-height: 15px;
    }

    .games__slider-content img {
        width: 270px;
        height: 200px;
    }

    .cooperation__row {
        align-items: center;
    }

    .cooperation__right {
        margin-left: 0;
    }

    .cooperation__heading {}

    .cooperation__left {
        margin-left: 15px;
    }

    .cooperation__left img {
        width: 270px;
        height: 200px;
    }
}
@media(max-width: 340px) {

    .header__bottom {
        margin-bottom: 30px;
    }

    .header__bottom-left {
        padding: 0;
    }

    .header__bottom-text {
        font-size: 15px;
    }

    .header__bottom-video iframe {
        width: 300px;
        height: 216px;
    }

    .about__left {
        margin-left: 0;
    }

    .games__slider-wrapper {
        transition: all .3s;
        transform: translate(-20%, 7%);
        transition: all .3s;
    }
    .cooperation__right {
        display: flex;
        align-items: flex-start;
        margin-left: 30px;
        transition: all .3s;
    }

    .about__right img {
        width: 300px;
        height: 200px;
        transition: all .3s;
    }
    .cooperation__inner {
        align-items: normal;
    }
    .cooperation__inner-text {
        padding: 0 5px;
        width: 250px;
        line-height: 15px;
    }

    .games__slider-content img {
        width: 270px;
        height: 200px;
    }

   
    .cooperation__right {
        margin-left: 0;
    }

    .cooperation__left {
        margin-left: 15px;
    }

    .cooperation__left img {
        width: 270px;
        height: 200px;
    }
}